<h1>Olá!</h1>
<p>Meu nome é Daniel Marques de Rezende</p>
<!--<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>-->
<p></p>
<p>DESAFIO DO CÁLCULO DO CDB:</p>
<ul>
  <li>
    <h6>
      Solicitamos a criação de uma tela web onde possamos informar um valor
      monetário positivo, e um prazo em meses maior que 1(um) para resgate
      da aplicação. Após solicitar o cálculo do investimento, a tela deve
      apresentar o resultado bruto e o resultado líquido do investimento.
    </h6>
  </li>
  <li>
    <h6>
      Solicitamos a criação de uma Web API que receba os dados informados
      acima.
    </h6>
  </li>
</ul>
