<h1>CDB</h1>

<p>Resgate da aplicação.</p>

<input
       type="text"
       #boxValorInicial (keyup)="getValueValorInicial(boxValorInicial.value)"
       placeholder="Valor Inicial"
       name="valorinical"
/>

<p></p>

<input type="text"
       #boxPrazo (keyup)="getValuePrazo(boxPrazo.value)"
       placeholder="Prazo em Meses"
       name="prazo"
/>

<p></p>
<button
  (click)="resgatarAplicacao()"
  >Resgatar Aplicação
</button>

<p></p>
<p>{{displayValorInicial}}</p>
<p>{{displayPrazo}}</p>
<p>{{displayValorBruto}}</p>
<p>{{displayValorLiquido}}</p>
<p>{{displayErros}}</p>
