<h1>CDB</h1>

<p>Resgate da aplicação.</p>

<div>
  <label>Valor Inicial:</label>
  <h2></h2>
  <input type="text"
         name="valorinical"
         maxlength="15"
         prefix="R$ "
         mask="0*.00"         
         #boxValorInicial (keyup)="getValueValorInicial(boxValorInicial.value)"
         placeholder="R$ 1.000,00"/>
</div>

<p></p>

<div>
  <label>Prazo em Meses:</label>
  <h2></h2>
  <input type="text"
         maxlength="3"
         mask="0*"
         #boxPrazo (keyup)="getValuePrazo(boxPrazo.value)"
         placeholder="120"
         name="prazo" />
</div>

<p></p>
<button
  (click)="resgatarAplicacao()"
  >Resgatar Aplicação
</button>

<p></p>
<p>{{displayValorBruto}}</p>
<p>{{displayValorLiquido}}</p>
<p>{{displayErros}}</p>
